
<!DOCTYPE html>
<html>
<body>

<script src="d3/d3.min.js"></script>

<!-- INCLUDE THIS FILE TO USE PRESET CHARTS -->
<script src="../../chartHelper.js"></script>

<!-- MUST INCLUDE CSS FILE FOR PRESET D3 CHARTS -->
<link href="../../chartStyle.css" rel="stylesheet" type="text/css"></script>


<!-- CHART CONTAINERID MATCHES DIV ID -->
<h1><%= pie.title %></h1>
<div id = '<%= pie.id %>'>
	<script>
	// specify function for chart
	// data input must be in this format with JSON.stringify
	getPie({
		data: '<%-JSON.stringify(pie.data)%>',
		width: '<%=pie.width%>',
		height: '<%=pie.height%>',
		containerId: '<%=pie.id%>'
	})
	</script>
</div>


<h1><%= graph.title %></h1>
<div id = '<%= graph.id %>'>
	<script>
	getGraph({
		data:'<%-JSON.stringify(graph.data)%>',
		width: '<%=graph.width%>', // cannot use percentage for width/height yet
		height: '<%=graph.height%>',
		yAxisLabel: '<%=graph.yAxisLabel%>',
		containerId: '<%=graph.id%>'
	})
	</script>
</div>


<h1><%= table.title %></h1>
<div id = '<%= table.id %>'>
	<script>
	getTable({
		data: <%-JSON.stringify(table.data)%>,
		containerId: '<%=table.id%>'
	})
	</script>
</div>

</body>
<html>