
<!DOCTYPE html>
<html>
<body>

<script src="d3/d3.min.js"></script>

<!-- INCLUDE THIS FILE TO USE PRESET CHARTS -->
<script src="../../chartHelper.js"></script>

<!-- MUST INCLUDE CSS FILE FOR PRESET D3 CHARTS -->
<link href="../../chartStyle.css" rel="stylesheet" type="text/css"></script>


<!-- CHART CONTAINERID MATCHES DIV ID -->
<h1><%= pie.title %><h1>
<div id = '<%= pie.id %>'>
	<script>
	//specify function for chart
	getPie({
		data: <%-JSON.stringify(pie.data)%>,
		containerId: "<%=pie.id%>"
	})
	</script>
</div>


<h1><%= graph.title %><h1>
<div id = '<%= graph.id %>'>
	<script>
	getGraph({
		data: <%-JSON.stringify(graph.data)%>,
		yAxisLabel: "<%=graph.yAxisLabel%>",
		containerId: "<%=graph.id%>"
	})
	</script>
</div>

</body>
<html>