<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            body {
              font: 10px sans-serif;
            }
            .axis path,
            .axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }
            .x.axis path {
              display: none;
            }
            .line {
              fill: none;
              stroke: steelblue;
              stroke-width: 1.5px;
            }
        </style>
    </head>
    <body>
        <h1 align="middle"><font face="Arial" size="5"></font>
            <%= title %>
        </h1>
        <script src="./lib/d3/d3.min.js"></script>
        <script>
            var rawdata = <%- JSON.stringify(data) %>;
            var xTitle = <%- JSON.stringify(xtitle) %>;
            var yTitle = <%- JSON.stringify(ytitle) %>;
            var dim = <%- JSON.stringify(_dim) %>;
        </script>
        <script src="./xyGraphTemplate.js"></script>
</html>
